{% extends base_layout %}

{% trans_default_domain 'LexikMonologBrowserBundle' %}

{% import "LexikMonologBrowserBundle::utils.html.twig" as utils %}

{% block monolog_browser_navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            {{ form_start(filter, { attr: { class: 'form-inline search-form navbar-form' } }) }}
            <div class="form-group">
                {{ form_widget(filter.term, { attr: { class: 'form-control', placeholder: 'log.search.term'|trans } }) }}
            </div>
            <div class="form-group">
                {{ form_widget(filter.level, { attr: { class: 'form-control', placeholder: 'log.search.level'|trans } }) }}
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label for="{{ filter.date_from.vars.id }}">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>
                    {{ form_widget(filter.date_from, { attr: { class: 'datepicker form-control', placeholder: 'log.search.date_from'|trans } }) }}
                    <div class="input-group-addon">:</div>
                    {{ form_widget(filter.time_from, { attr: { class: 'hour form-control' } }) }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label for="{{ filter.date_to.vars.id }}">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </label>
                    </div>
                    {{ form_widget(filter.date_to, { attr: { class: 'datepicker form-control', placeholder: 'log.search.date_to'|trans } }) }}
                    <div class="input-group-addon">:</div>
                    {{ form_widget(filter.time_to, { attr: { class: 'hour form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
            {{ form_end(filter) }}
        </div>
    </nav>
{% endblock %}

{% block monolog_browser_content %}
    <table class="table table-stripped table-responsive monolog-browser-results">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'log.results.datetime' | trans, 'datetime') }}</th>
            <th></th>
            <th>{{ knp_pagination_sortable(pagination, 'log.results.message' | trans, 'l.message') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'log.search.level' | trans, 'l.level') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for log in pagination %}
            <tr>
                <td>{{ date(log.datetime) | date('F j H:i:s') }}</td>
                <td>{{ utils.render_count_badge(log.count) }}</td>
                <td>
                    <a href="{{ path('lexik_monolog_browser_show', { 'id': log.id }) }}">
                        {{ log.message }}
                    </a>
                </td>
                <td>
                    {{ utils.render_level_label(log.level, (log.channel ~ '.' ~ log.level_name)) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
